body {
    background-color: rgb(135, 206, 235);
}

ul {
    list-style-type: none;

}

li {
    border-top: 3px;
    border-bottom: 3px;
    border-color: rgb(110, 170, 194);
}
input {
    border-radius: 3px;
    border-style: ridge;
    border-color: black;
}