* {
    box-sizing: border-box;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

body {
    background-color: skyblue;
    max-height: 100vh;
    max-width: 100vw;
    color: black;
}

#messageBox {
    position: absolute;
    top: 92%;
    width: 92%;
    height: 50px;
    padding-left: 10px;
}

#customMenuButton {
    position: absolute;
    left: 93%;
    height: 50px;
    top: 92%;
    width: 6.5%;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 7px);
    -webkit-backdrop-filter: blur( 7px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

#customMenuPanel {
    list-style-type: none;
    position: absolute;
    top: 33%;
    left: 45%;
    padding: 5px;
    margin: 0;
    display: none;
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 7px);
    -webkit-backdrop-filter: blur( 7px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.show {
    display: block;
}

#messageContainer {
    height: 89vh;
    outline-color: black;
    outline-style: solid;
    outline-width: 5px;
    overflow: hidden;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    margin: 0;
    padding-bottom: 3px;
}

input {
    background: rgba( 255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 7px);
    -webkit-backdrop-filter: blur( 7px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}