* {
    box-sizing: border-box;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

body {
    background-color: skyblue;
    max-height: 100vh;
    max-width: 100vw;
}

#messageBox {
    position: absolute;
    top: 90%;
    width: 94%;
    height: 50px;
    padding-left: 20px;
}

#color_input {
    position: absolute;
    left: 95%;
    height: 50px;
    top: 90%;
    width: 4.5%;
}

#messageContainer {
    height: 86vh;
    outline: black solid 5px;
    overflow: hidden;
}

ul>li {
    list-style-type: none;
    border-bottom: 3px;
    border-top: 3px;
    border-color: white;
}